# Ignore everything in frontend-next that is ignored in its .gitignore
/frontend-next/node_modules
/frontend-next/.pnp
/frontend-next/.pnp.*
/frontend-next/.yarn/*
!/frontend-next/.yarn/patches
!/frontend-next/.yarn/plugins
!/frontend-next/.yarn/releases
!/frontend-next/.yarn/versions

/frontend-next/coverage
/frontend-next/.next/
/frontend-next/out/
/frontend-next/build

/frontend-next/.DS_Store
/frontend-next/*.pem

/frontend-next/npm-debug.log*
/frontend-next/yarn-debug.log*
/frontend-next/yarn-error.log*
/frontend-next/.pnpm-debug.log*

/frontend-next/.env*
/frontend-next/.vercel
/frontend-next/*.tsbuildinfo
/frontend-next/next-env.d.ts
