@tailwind base;
@tailwind utilities;

@tailwind components;


#overlay::after {
    content: "";
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; /* Adjust size as needed */
    height: 100px;
    background: transparent;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6); /* Creates the spotlight */
    border-radius: 8px; /* Rounds the corners of the highlighted area */
    pointer-events: none; /* Allows clicking on the content below */
  }

  @layer components {
    .fancy-button {
      @apply relative text-slate-600 border-2 border-[#0088a8] px-4 text-center 
         py-0 text-lg rounded font-bold transition-all duration-200 ease-in 
        hover:bg-[#0088a8] hover:text-white hover:shadow-[0_0_30px_#00c7ec50] 
        active:shadow-none cursor-pointer overflow-hidden;
    }
  
    .fancy-button::before {
      content: "";
      @apply absolute top-[7%] left-[-20%] w-0 h-[86%] bg-white opacity-0 
        shadow-[0_0_15px_3px_white] skew-x-[-20deg];
    }
  
    .fancy-button:hover::before {
      @apply animate-shine;
    }
  
    @keyframes shine {
      from {
        opacity: 0;
        left: 0%;
      }
      50% {
        opacity: 1;
      }
      to {
        opacity: 0;
        left: 100%;
      }
    }
  }


  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    /* height: 50px; */
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  
  .button:hover {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
  }
  
  .button:active {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  .button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  